<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="meca500_gazebo">

    <!-- gz_ros2_control plugin: starts the embedded controller_manager in Gazebo -->
    <gazebo>
      <plugin filename="gz_ros2_control-system"
              name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find meca500_bringup)/config/meca500_controllers.yaml</parameters>
        <ros>
          <remapping>~/robot_description:=robot_description</remapping>
        </ros>
      </plugin>
    </gazebo>

    <gazebo reference="base_link">
      <material>Gazebo/Grey</material>
      <selfCollide>false</selfCollide>
    </gazebo>

    <gazebo reference="link_1">
      <material>Gazebo/Grey</material>
      <selfCollide>false</selfCollide>
    </gazebo>

    <gazebo reference="link_2">
      <material>Gazebo/Grey</material>
      <selfCollide>false</selfCollide>
    </gazebo>

    <gazebo reference="link_3">
      <material>Gazebo/Grey</material>
      <selfCollide>false</selfCollide>
    </gazebo>

    <gazebo reference="link_4">
      <material>Gazebo/Grey</material>
      <selfCollide>false</selfCollide>
    </gazebo>

    <gazebo reference="link_5">
      <material>Gazebo/Grey</material>
      <selfCollide>false</selfCollide>
    </gazebo>

    <gazebo reference="link_6">
      <material>Gazebo/Grey</material>
      <selfCollide>false</selfCollide>
    </gazebo>

    <!-- Light damping on each joint prevents oscillation under velocity control -->
    <gazebo reference="meca_axis_1">
      <implicitSpringDamper>true</implicitSpringDamper>
      <dynamics damping="0.05" friction="0.01"/>
    </gazebo>

    <gazebo reference="meca_axis_2">
      <implicitSpringDamper>true</implicitSpringDamper>
      <dynamics damping="0.05" friction="0.01"/>
    </gazebo>

    <gazebo reference="meca_axis_3">
      <implicitSpringDamper>true</implicitSpringDamper>
      <dynamics damping="0.05" friction="0.01"/>
    </gazebo>

    <gazebo reference="meca_axis_4">
      <implicitSpringDamper>true</implicitSpringDamper>
      <dynamics damping="0.02" friction="0.005"/>
    </gazebo>

    <gazebo reference="meca_axis_5">
      <implicitSpringDamper>true</implicitSpringDamper>
      <dynamics damping="0.02" friction="0.005"/>
    </gazebo>

    <gazebo reference="meca_axis_6">
      <implicitSpringDamper>true</implicitSpringDamper>
      <dynamics damping="0.01" friction="0.002"/>
    </gazebo>

  </xacro:macro>

</robot>
