<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="meca500_beckhoff_ros2_control" params="name">
    
    <xacro:include filename="$(find beckhoff_ads_bringup)/urdf/beckhoff_bot/beckhoff_ads_interfaces.ros2_control.xacro"/>

    <ros2_control name="${name}_beckhoff" type="system">
      <hardware>
        <plugin>beckhoff_ads_hardware_interface/BeckhoffADSHardwareInterface</plugin>
        <param name="plc_ip_address">192.168.250.37</param>
        <param name="plc_ams_net_id">192.168.250.37.1.1</param>
        <param name="plc_ams_port">851</param>
        <param name="local_ams_net_id">192.168.250.102.1.1</param>
      </hardware>
    

      <gpio name="meca_io">
        <xacro:command_to_PLC name="robotEnabled" PLC_symbol="MAIN.robotEnabled" PLC_type="BOOL" initial_value="1"/>
        <xacro:command_to_PLC name="robotMode" PLC_symbol="MAIN.robotMode" PLC_type="UDINT" initial_value="1"/>
        <xacro:command_to_PLC name="joint_1_cmd" PLC_symbol="MAIN.jointCommands" PLC_type="LREAL" n_elements="6" index="0" initial_value="0.0"/>
        <xacro:command_to_PLC name="joint_2_cmd" PLC_symbol="MAIN.jointCommands" PLC_type="LREAL" n_elements="6" index="1" initial_value="0.0"/>
        <xacro:command_to_PLC name="joint_3_cmd" PLC_symbol="MAIN.jointCommands" PLC_type="LREAL" n_elements="6" index="2" initial_value="0.0"/>
        <xacro:command_to_PLC name="joint_4_cmd" PLC_symbol="MAIN.jointCommands" PLC_type="LREAL" n_elements="6" index="3" initial_value="0.0"/>
        <xacro:command_to_PLC name="joint_5_cmd" PLC_symbol="MAIN.jointCommands" PLC_type="LREAL" n_elements="6" index="4" initial_value="0.0"/>
        <xacro:command_to_PLC name="joint_6_cmd" PLC_symbol="MAIN.jointCommands" PLC_type="LREAL" n_elements="6" index="5" initial_value="0.0"/>
      </gpio>

      <sensor name="meca_sensor">
        <xacro:state_from_PLC name="robotStatus" PLC_symbol="MAIN.robotStatus" PLC_type="UDINT"/>
        <xacro:state_from_PLC name="robotError" PLC_symbol="MAIN.robotError" PLC_type="BOOL"/>
        <xacro:state_from_PLC name="joint_1_state" PLC_symbol="MAIN.jointStates" PLC_type="LREAL" n_elements="6" index="0"/>
        <xacro:state_from_PLC name="joint_2_state" PLC_symbol="MAIN.jointStates" PLC_type="LREAL" n_elements="6" index="1"/>
        <xacro:state_from_PLC name="joint_3_state" PLC_symbol="MAIN.jointStates" PLC_type="LREAL" n_elements="6" index="2"/>
        <xacro:state_from_PLC name="joint_4_state" PLC_symbol="MAIN.jointStates" PLC_type="LREAL" n_elements="6" index="3"/>
        <xacro:state_from_PLC name="joint_5_state" PLC_symbol="MAIN.jointStates" PLC_type="LREAL" n_elements="6" index="4"/>
        <xacro:state_from_PLC name="joint_6_state" PLC_symbol="MAIN.jointStates" PLC_type="LREAL" n_elements="6" index="5"/>
      </sensor>

    <!-- <gpio name="robot_io">
            <xacro:command_interface_PLC name="joggingEnabled" PLC_symbol="MAIN.joggingEnabled" PLC_type="BOOL" initial_value="1"/>
            <xacro:command_interface_PLC name="myRobotMode" PLC_symbol="MAIN.myRobotMode" PLC_type="UDINT" initial_value="5"/>
            <xacro:command_interface_PLC name="motionType" PLC_symbol="MAIN.motionType" PLC_type="USINT" initial_value="1"/>
            <xacro:command_interface_PLC name="commandPos_0" PLC_symbol="MAIN.commandPos" PLC_type="BOOL" n_elements="2" index="0" initial_value="1"/>
            <xacro:command_interface_PLC name="commandPos_1" PLC_symbol="MAIN.commandPos" PLC_type="BOOL" n_elements="2" index="1" initial_value="1"/>
        </gpio>
        <sensor name="robot_sensor">
            <xacro:state_interface_PLC name="statusError" PLC_symbol="MAIN.statusError" PLC_type="BOOL"/>
            <xacro:state_interface_PLC name="batteryVoltage" PLC_symbol="MAIN.batteryVoltage" PLC_type="REAL"/>
            <xacro:state_interface_PLC name="currentPos_0" PLC_symbol="MAIN.currentPos" PLC_type="LREAL" n_elements="2" index="0" />
            <xacro:state_interface_PLC name="currentPos_1" PLC_symbol="MAIN.currentPos" PLC_type="LREAL" n_elements="2" index="1" />
            <xacro:state_interface_PLC name="pickCount" PLC_symbol="MAIN.pickCount" PLC_type="UINT" />
            <xacro:state_interface_PLC name="currentTemperature" PLC_symbol="MAIN.currentTemperature" PLC_type="INT" />
            <xacro:state_interface_PLC name="ledMap" PLC_symbol="MAIN.ledMap" PLC_type="BYTE"/>
        </sensor> -->
      <!-- </sensor> -->
    </ros2_control>
  </xacro:macro>
</robot>
