<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Meca500_Beckhoff">

  <xacro:arg name="name" default="Meca500PLC"/>

  <!-- Minimal valid URDF root link for robot_state_publisher parsing -->
  <link name="beckhoff_base"/>

  <xacro:include filename="meca500_beckhoff.ros2_control.xacro"/>

  <xacro:meca500_beckhoff_ros2_control name="$(arg name)"/>

</robot>