<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Meca500_R4">
  <xacro:arg name="robot_ip" default="192.168.0.100"/>
  <xacro:arg name="sim_mode" default="true"/>
  <xacro:arg name="name" default="DummyBot"/>
  <xacro:arg name="alone" default="false"/>

  <xacro:include filename="meca500_description.macro.xacro"/>
  <xacro:include filename="meca500.ros2_control.macro.xacro"/>
  <xacro:include filename="meca500.gazebo.macro.xacro"/>

  <link name="robot_base">
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <!-- Description -->
  <xacro:meca500_descrip parent="robot_base">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:meca500_descrip>

  <!-- Control -->
  <xacro:meca500_ros2_control name="$(arg name)" robot_ip="$(arg robot_ip)" sim_mode="$(arg sim_mode)"/>
  <!-- Gz -->
  <xacro:meca500_gazebo/>
</robot>
