<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Meca500_R4">

  <xacro:arg name="robot_ip"         default="192.168.0.100"/>
  <xacro:arg name="sim_mode"         default="false"/>
  <xacro:arg name="alone"            default="true"/>
  <xacro:arg name="name"             default="DummyBot"/>

  <xacro:include filename="meca500_macro.xacro"/>
  <xacro:include filename="meca500.ros2_control.xacro"/>
  <xacro:include filename="meca500.gazebo.xacro"/>

  <!-- Root link for mounting the robot (with minimal inertia for Gazebo) -->
  <link name="robot_base">
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <xacro:meca500 parent="robot_base">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:meca500>

  <!-- Unified ros2_control macro -->
  <xacro:meca500_ros2_control name="Meca500System" robot_ip="$(arg robot_ip)" sim_mode="$(arg sim_mode)" alone="$(arg alone)"/>

  <!-- Include Gazebo plugin if in sim mode -->
  <xacro:if value="$(arg sim_mode)">
    <xacro:meca500_gazebo/>
  </xacro:if>

</robot>